/* Navigation Bar  Left*/
#navbar{
    min-height: 40px;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 5%);
}
#leftnav{
    margin-left: 10px;
}
#leftnav img{
    height: 43px;
    margin: 11px 0px;
}

/* Navigation Bar Right*/
#rightnav{
    margin-right: 5px;
}
#rightnav div p{
    margin: 0px 8px;
}

/* Main Section First  */
#resp{
    display: block;
}

/* Footer Bar  */
.resp-footer-align{
    max-width: 1080px;
    margin: auto;
    height: 600px;
    padding-bottom: 40px;
}
.top-itm-big img{
    height: 37px;
    width: auto;
}

/* This is the main responsive css file for this clone project  */
/* ///////////////////////////////////////////////////////////// */
